<h1>Eat-Da-Burger!</h1>

<main>
	<div class="container">
		<div class="row">
			<div class="col s6">
			<h2 class="not-devoured"> Not Devoured! </h2>
			{{#each burgers}}
			{{#unless this.eaten}}
				<div>
					<form action="/burgers/{{this.id}}" method="POST">
						<button type="submit" class='burgerAvailable'> {{this.burger_name}} </button>
					</form>
				</div>
				{{/unless}}
				{{/each}}
			</div>

			<div class="col s6">
			<h2 class="devoured"> Devoured! </h2>
			{{#each burgers}}
			{{#if this.eaten}}
				<div>
					<form action="/delete/{{this.id}}" method="POST">
						<button type="submit" class='burger-eaten'> {{this.burger_name}} </button>
					</form>
				</div>	
				{{/if}}
				{{/each}}
			</div>
		</div>
	</div> 
</main>

<h2>Add A Burger Option</h2>

<div class="row">
	<div class="col s12">
		<form action="/burgers" method="POST">
			<input class="new-burger-name" type="text" id="name" name="burger_name" placeholder=" Whats your favorite??? ">
			<button type="submit" class="addBurgerButton"> Add a Burger </button>
		</form>
	</div>
</div>

