/*
Fonts:
font-family: 'Paytone One', sans-serif;
font-family: 'Days One', sans-serif;
font-family: 'Mitr', sans-serif;
*/ 
 html {
 	background-color: #FFC04C;
 }

 body {
 	width: 90%;
	margin: 0 auto; 
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url("/img/polkadot.png");
	background-color: yellow;
 }

 #burger {
 	display: block;
    margin: auto;
    width: 60%;
    height: 60%;
 }

 h1 {
 	text-align: center;
 	font-family: 'Mitr', sans-serif;
 	font-size: 65px;
 	margin: 50px;
 }

 .new-burger-name {
 	font-family: 'Days One', sans-serif;
 	color: red;
 	text-align: center;
 }

 .burgerAvailable {
 	font-family: 'Days One', sans-serif;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;
 	border-radius: 25px;
 	width: 100%;
 	margin: 10px;
 	padding: 10px;
 	background-color: red;
 	color: white;
 	border: none;
 }

 .burgerAvailable:hover {
 	background-color: orange;
 }

 .burgerEaten {
 	font-family: 'Days One', sans-serif;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;
 	border-radius: 25px;
 	margin: 10px;
 	padding: 10px;
 	background-color: #ffd1c9;
 	display: inline-block;
 	width: 77%;
 }

 h2 {
  	text-align: center;
 	font-family: 'Mitr', sans-serif;
 	font-size: 40px;
 	margin: 50px;
 }

 .delete-burger {
 	background-color: brown;
 	color: lightyellow;
 	border: none;
 	border-radius: 8px;
 	padding: 5px;
 	display: inline-block;
 }

 .formContainer {
 	background-color: red;
 }

 .addBurgerButton {
 	font-family: 'Mitr', sans-serif;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;
 	border-radius: 25px;
 	width: 100%;
 	margin: 0;
 	padding: 10px;
 	color: white;
 	background-color: red;
 	border: none;
 }

.addBurgerButton:active {
	background-color: yellow;
}

.burgerFooter {
	background-color: #FFC04C;
	padding: 20px 0;
}